 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #998C80;
active-foreground: #E8F6FB;
normal-background: #1D1D20;
normal-foreground: #E8F6FB;
urgent-background: #B3D7E7;
urgent-foreground: #E8F6FB;

alternate-active-background: #768C9C;
alternate-active-foreground: #E8F6FB;
alternate-normal-background: #1D1D20;
alternate-normal-foreground: #E8F6FB;
alternate-urgent-background: #1D1D20;
alternate-urgent-foreground: #E8F6FB;

selected-active-background: #B3D7E7;
selected-active-foreground: #E8F6FB;
selected-normal-background: #B3D7E7;
selected-normal-foreground: #E8F6FB;
selected-urgent-background: #998C80;
selected-urgent-foreground: #E8F6FB;

background-color: #1D1D20;
background: rgba(0,0,0,0.7);
foreground: #E8F6FB;
border-color: #998C80;

color0: #434347;
color1: #3A4450;
color2: #50433F;
color3: #586975;
color4: #736960;
color5: #86A2AE;
color6: #8EABB7;
color7: #D6E9F1;
color8: #95A3A9;
color9: #4D5B6A;
color10: #6A5954;
color11: #768C9C;
color12: #998C80;
color13: #B3D7E7;
color14: #BDE4F4;
color15: #D6E9F1;


}

